.myDialog-style {
    display: flex;
    justify-content: center;
}

.myDialog {
    background-color: #06171E;
    width: 250px;
    height: 220px;
    border-radius: 8px;
    margin: auto;
}

.dialog-header-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
}

.dialog-header-class p {
    font-size: 8px;
    color: white;
}

.dialog-header-class img {
    width: 16px;
    height: 16px;
}

.dialog-main-style img {
    width: 210px;
    height: 150px;
    margin: auto;
    display: block;
}

.dialog-footer-class {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.dialog-footer-class img {
    width: 24px;
    height: 24px;
}