.myDialog-style {
    display: flex;
    justify-content: center;
    padding: 44px;
}

.myDialog {
    background-color: #06171E;
    max-width: 690px;
    max-height: 680px;
    border-radius: 16px;
    margin: auto;
    padding: 46px;
}

.dialog-header-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.dialog-paragraphs-class {
    font-size: 24px;
    color: white;
}

.dialog-header-class img {
    width: 34px;
    height: 34px;
}

.dialog-main-style {
    padding-bottom: 20px;
}


.dialog-main-style img {
    width: 560px;
    height: 370px;
    margin: auto;
    display: block;
}

.dialog-footer-class {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;

}

.dialog-footer-class img {
    width: 60px;
    height: 60px;
}

.dialog-footer-class p {
    color: white;
}