header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #09212A;
    height: 26px;
    width: 100%;
}

header img {
    height: 14px;
    width: 64px;
    padding-top: 6px;
    padding-left: 48px;
}