header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #09212A;
    height: 80px;
    width: 100%;
}

header img {
    height: 40px;
    width: auto;
    margin-top: 22px;
    margin-left: 90px;
}