@media (max-width: 695px) {
    .myDialog {
        width: 340px;
    }

    .dialog-main-style img {
        width: 310px;
        height: 240px;
    }
}

@media (max-width: 500px) {
    .myDialog {
        width: 300px;
        height: 280px;
    }

    .dialog-paragraphs-class {
        font-size: 18px;
    }

    .dialog-main-style img {
        width: 220px;
        height: 170px;
    }

    .dialog-footer-class img {
        width: 32px;
        height: 32px;
    }

    .dialog-footer-class p {
        font-size: medium;
    }
}

@media (max-width: 440px) {
    .myDialog {
        width: 170px;
        height: 280px;
    }

    .dialog-main-style img {
        width: 170px;
        height: 160px;
    }

    header img {
        margin-left: 45px;
    }

    .dialog-footer-class {
        gap: 32px;
    }
}