body {
    margin: 0;
    background-color: #06171E;
}

main {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 90px;
    height: calc(100vh - 90px - 90px);
}

.pointer {
    cursor: pointer;
}

h1 {
    font-family: "Figtree";
    color: white;
    font-size: 48px;
    margin-bottom: 22px;
}

.galerie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.section {
    padding: 4rem 0;
}


.gallery-section {
    min-height: 40vh;
}

.imagesClass {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    /* 1440px */
}

.imagesClass img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid;
    border-color: rgba(18, 70, 88, 1);
}

/* create an extra css file for footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
    position: fixed;

    background-color: #09212A;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 110px;
    border-radius: 30px;
}

.company-logo {
    height: 24px;
    width: 110px;
}

.company-name {
    padding-top: 8px;
    padding-bottom: 16px;
    height: 8px;
    width: 160px;
}